# Gradle files
.gradle/
build/
*/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
build_log.txt
NOTES.md
TODO.md
src/main/java/Kachra.java
src/main/java/com/github/satwiksanand/robotExample.txt

# Eclipse files
.classpath
.project
.settings/
bin/
test-output/

# Visual Studio Code files
.vscode/

# MacOS
.DS_Store

# Logs
logs/
*.log
